# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Android
#
# Gradle files
android/.gradle/
android/build/
android/gradle/wrapper/gradle-wrapper.jar

# Local configuration file (sdk path, etc)
android/local.properties

# Log Files
*.log

# Android Studio
android/.idea/
android/*.iml
android/.externalNativeBuild/
android/.cxx/
android/app/.cxx/

# Android build artifacts
android/app/build/
android/*/build/
android/*/*/build/

# Android signing files
android/*.jks
android/*.keystore
android/app/release/
android/app/debug/

# Android lint
android/lint-report.html
android/lint-report.xml
android/lint-results.html
android/lint-results.xml

# Android test reports
android/app/build/reports/
android/app/build/test-results/
android/app/build/outputs/
android/app/build/tmp/

# Android generated files
android/app/src/main/gen/
android/app/src/main/assets/
android/gen/
android/out/

# Proguard
android/proguard/
android/app/proguard-rules.pro

# NDK
android/obj/
android/libs/armeabi*/
android/libs/arm64*/
android/libs/x86*/
android/libs/mips*/

# Android Studio navigation files
android/.navigation/

# Android Studio captures folder
android/captures/

# Keystore files
android/*.jks
android/*.keystore

# Google Services (if you add Firebase later)
android/google-services.json

# Freeline
android/freeline.py
android/freeline/
android/freeline_project_description.json

# Android Profiling
*.hprof
