[*.{kt,kts}]
# Disable function naming rule for Compose functions
ktlint_standard_function-naming = disabled
# Disable property naming rule for singleton patterns
ktlint_standard_property-naming = disabled